@import "";
html {
  line-height: 1.15;
  text-size-adjust: 100%;


}
body {
  background-image: url(img/bg.png);
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  position: fixed;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;


}
